.seemore {

    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    
    background-color: transparent;
    box-shadow: 0px 0px 10px #0000004b;
    border: none;
}

.seemore:hover {

    background-color: rgba(185, 185, 185, 0.39);
}

.pop-up {

    width: fit-content;
    position: fixed;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    height: fit-content;

    background-color: #FCE8E5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);

    padding: 20px;
    z-index: 1000;
}

.close-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#popup {
    display: none;
}


.flex-parent-element {
  display: flex;
  width: 100%;

  max-height: fit-content;
}

.flex-child-element {
  flex: 1;
  margin: 10px;
  height: fit-content;

  width:fit-content;
}

.flex-child-element img {
  
  height: 300px;
}

.flex-child-element:first-child {
  margin-right: 20px;
}

.menuITEM {

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.menuITEM:hover {

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  transform: translate(0px, 5px);
  
}

.menuITEM img{

  box-shadow: 5px 5px #AA2F1B;
}